<div class="container" id="i18_about_me">
    <div class="row m-b-lg">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1><span data-i18n="about_me.about_me">Accepted Papers</span></h1>
            <!-- <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.</p> -->
        </div>
    </div>
    <div class="row">
         <div class="col-lg-8 col-lg-offset-2 m-t-lg m-b-lg wow zoomIn">
            <p><font size="4px" color="#000000"><span data-i18n="about_me.des">  Long Papers </span></font></p>
            <li><font size="3px" color="#000000">Motion-Refined DINOSAUR for Unsupervised Multi-Object Discovery</font><br>
<font size="3px">Xinrui Gong, Oliver Hahn, Christoph Reich, Krishnakant Singh, Simone Schaub-Meyer, Daniel Cremers, Stefan Roth </font></li>
            <li><font size="3px" color="#000000">Benchmarking Feature Upsampling Methods for Vision Foundation Models using Interactive Segmentation</font><br>
<font size="3px">Volodymyr Havrylov, Haiwen Huang, Dan Zhang, Andreas Geiger</font></li>
         </div>
         <div class="col-lg-8 col-lg-offset-2 m-t-lg m-b-lg wow zoomIn">
            <p><font size="4px" color="#000000"><span data-i18n="about_me.des">  Short Papers </span></font></p>
            <li><font size="3px" color="#000000">INST-AP: Instance-Aware Vision-Language Pre-Train for Spatial-Temporal Understanding </font><br>
<font size="3px">Ashutosh Kumar, Quan Kong, Jingjing Pan, Rajat Saini, Mustafa Erdogan, Betty Le Dem, Norimasa Kobori</font></li>
            <li><font size="3px" color="#000000">SOS: Synthetic Object Segments Improve Detection, Segmentation, and Grounding </font><br>
<font size="3px">Weikai Huang, Jieyu Zhang, Taoyang Jia, Chenhao Zheng, Ziqi Gao, Jae Sung, Ranjay Krishna</font></li>
            <li><font size="3px" color="#000000">Towards Agentic AI for Multimodal-Guided Video Object Segmentation </font><br>
<font size="3px">Tuyen Tran, Thao Le, Truyen Tran</font></li>
        </div>
    </div>
</div>
