<div class="container" id="i18_about_me">
    <div class="row m-b-lg">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1><span data-i18n="about_me.about_me">Invited Papers</span></h1>
            <!-- <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.</p> -->
        </div>
    </div>
    <div class="row">
         <div class="col-lg-8 col-lg-offset-2 m-t-lg m-b-lg wow zoomIn">
            <li><font size="3px" color="#000000">Grounding Language Models for Visual Entity Recognition</font> <font size="3px" color="#FF0000">(Oral)</font><br>
<font size="2.8px">Zilin Xiao, Ming Gong, Paola Cascante-Bonilla, Xingyao Zhang, Jie Wu, Vicente Ordonez</font></li>
            <li><font size="3px" color="#000000">PetFace: A Large-Scale Dataset and Benchmark for Animal Identification</font> <font size="3px" color="#FF0000">(Oral)</font><br>
<font size="2.8px">Risa Shinoda, Kaede Shiohara</font></li>
            <li><font size="3px" color="#000000">MeshVPR: Citywide Visual Place Recognition Using 3D Meshes</font> <font size="3px" color="#FF0000">(Oral)</font><br>
<font size="2.8px">Gabriele Berton, Lorenz Junglas, Riccardo Zaccone, Thomas Pollok, Barbara Caputo, Carlo Masone</font></li>
            <li><font size="3px" color="#000000">AMES: Asymmetric and Memory-Efficient Similarity Estimation for Instance-level Retrieval</font><br>
<font size="2.8px">Pavel Suma, Giorgos Kordopatis-Zilos, Ahmet Iscen, Giorgos Tolias</font></li>
            <li><font size="3px" color="#000000">MarineInst: A Foundation Model for Marine Image Analysis with Instance Visual Description</font><br>
<font size="2.8px">Ziqiang Zheng, Yiwei Chen, Huimin Zeng, Tuan-Anh Vu, Binh-Son Hua, Sai Kit Yeung</font></li>
            <li><font size="3px" color="#000000">"Where am I?" Scene Retrieval with Language</font><br>
<font size="2.8px">Jiaqi Chen, Daniel Barath, Iro Armeni, Marc Pollefeys, Hermann Blum</font></li>
            <li><font size="3px" color="#000000">Revisit Anything: Visual Place Recognition via Image Segment Retrieval</font><br>
<font size="2.8px">Kartik Garg, Sai Shubodh Puligilla, Shishir N Y Kolathaya, Madhava Krishna, Sourav Garg</font></li>
            <li><font size="3px" color="#000000">Powerful and Flexible: Personalized Text-to-Image Generation via Reinforcement Learning</font><br>
<font size="2.8px">Fanyue Wei, Wei Zeng, Zhenyang Li, Dawei Yin, Lixin Duan, Wen Li</font></li>
            <li><font size="3px" color="#000000">On Learning Discriminative Features from Synthesized Data for Self-Supervised Fine-Grained Visual Recognition</font><br>
<font size="2.8px">Zihu Wang, Lingqiao Liu, Scott Ricardo Figueroa Weston, Samuel Tian, Peng Li</font></li>
            <li><font size="3px" color="#000000">Open-Set Recognition in the Age of Vision-Language Models</font><br>
<font size="2.8px">Dimity Miller, Niko Suenderhauf, Alex Kenna, Keita Mason</font></li>
         </div>
    </div>
</div>
